# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=ublue-os-digitalygo

# Make this the same as your github username/organisation
REPO_ORGANIZATION="digitalygo"

IMAGE_DESC="Digitalygo developer workstation image (Bluefin DX + niri + DMS)"
IMAGE_KEYWORDS="bootc,bluefin,digitalygo,niri,dms,developer"
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/digitalygo"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
